@font-face {
  font-family: 'HelveticaNeue';
  src: url(./font/HelveticaNeue-Roman.otf);
}

@font-face {
  font-family: 'HelveticaNeue Bold';
  src: url(./font/HelveticaNeue-Bold.otf);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family: "HelveticaNeue", sans-serif;
}

body{
  background-color: black;
}

.container{
  max-width: 1080px;
  margin: 0 auto;
}

header{
  border-radius: 4px;
background: #373a3c;
padding: 11px 0 11px 0;
}

.head1{
  display: flex;
  justify-content: space-between;
  
}

.head2{
  display: flex;
  gap: 35px;
}

ul{
  display: flex;
  list-style: none;
  gap: 28px;
}

header a{
font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 100%;
color: rgba(255, 255, 255, 0.5);
text-decoration: none;
}

header input{
  border: 1px solid #ccc;
border-radius: 4px;
width: 209px;
height: 38px;
background: #fff;
font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 131%;
color: #435766;
padding: 9px 0 8px 15px;
}

.sec1{
  background-image: url(./img/sec1bgimg.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 642px;
  margin: 0 auto;
}

.sec1 h2{
  font-family: var(--font-family);
font-weight: 400;
font-size: 36px;
color: #fff;
position: relative;
left: 1070px;
top: 209px;
}

.sec1 span{
  font-family: var(--font-family);
font-weight: 400;
font-size: 24px;
color: #fff;
position: relative;
left: 1070px;
top: 209px;
}

.but1{
    border: none;
  border-radius: 4px;
  width: 136px;
height: 38px;
font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 131%;
background: #8dd83d;
color: #fff;
position: relative;
top: 365px;
left: 930px;
}

.but2{
  border: none;
  font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 131%;
color: #fff;
border-radius: 4px;
width: 148px;
height: 38px;
background: linear-gradient(180deg, #686c6f 0%, #373a3c 100%);
position: relative;
top: 365px;
left: 930px;
}

.sec1 img{
  position: relative;
  left: 488px;
  top: 545px;

}

.sec2{
  background-image: url(./img/sec2bg.png);
  text-align: center;
}

.sec2 img{
  padding-top: 64px;
}

.sec2 h1{
  font-family: var(--font-family);
font-weight: 400;
font-size: 48px;
color: #fff;
padding-top: 16px;
}

.sec2 span{
  font-family: var(--font-family);
font-weight: 400;
font-size: 36px;
color: #fff;
}

.sec2 .cards{
  display: flex;
  gap: 65px;
  margin-top: 42px;
  padding-bottom: 162px;
  text-align: left
}

.sec2 .card {
  background-color: #fff;
}

.sec2 .card img{
  padding-top: 0;
}

.sec2 .card span{
  font-family: var(--font-family);
font-weight: 400;
font-size: 18px;
color: #435766;
padding: 22px 0 0 22px;
}

.sec2 .card h3{
  font-family: var(--font-family);
font-weight: 400;
font-size: 24px;
color: #435766;
padding: 13px 0 0 22px;
}

.sec2 .card button{
  border: none;
  width: 278px;
height: 60px;
background: #8dd83d;
font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 131%;
color: #fff;
border-radius: 4px;
margin: 38px 0 27px 0;
}

.sec2 .but{
  text-align: center;
}